@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

/* Common styles for all screens */
/* Global scrollbar styles */
/* Thiết lập chiều rộng và màu sắc thanh cuộn */
::-webkit-scrollbar {
  width: 0px; /* Chiều rộng của thanh cuộn */
}

::-webkit-scrollbar-thumb {
  background-color: #1c00ff00; /* Màu sắc của thanh cuộn */
  border-radius: 4px; /* Đường viền cong của thanh cuộn */
}

/* Thiết lập màu nền cho toàn bộ thanh cuộn */
::-webkit-scrollbar-track {
  background: #1c00ff00;
}

/* Thiết lập chiều rộng của thanh cuộn khi hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #1c00ff00;
}

/* Thiết lập màu nền cho phần nền của thanh cuộn khi hover */
::-webkit-scrollbar-track:hover {
  background: #1c00ff00;
}
